<html>
	<head>
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		{% block head %}
		<title>Base</title>
		{% endblock %}
	</head>
	<body>
		<br>
		<div class="container">
	      <!-- Static navbar -->
	      	<nav class="navbar navbar-default">
		        <div class="container-fluid">
		          	<div class="navbar-header">
			            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
			              <span class="sr-only">Toggle navigation</span>
			              <span class="icon-bar"></span>
			              <span class="icon-bar"></span>
			              <span class="icon-bar"></span>
			            </button>
		            	<a class="navbar-brand" href="/">Test Project</a>
		          	</div>
		          	<div id="navbar" class="navbar-collapse collapse">
		          		<ul class="nav navbar-nav navbar-left">
		              	<li><a href="/account">Home</a></li>
		              	<li><a href="/account/login">Login</a></li>
						<li><a href="/account/profile">Profile</a></li>
		              	<li><a href="/account/profile/edit">Edit Profile</a></li>
		              	<li><a href="/account/change-password/">Change Password</a></li>
		              	<li><a href="/account/logout">Logout</a></li>
		            	</ul>
		            	<ul class="nav navbar-nav navbar-right">
		              	<li><a href="/account/register/">Register</a></li>
		            	</ul>
		          	</div><!--/.nav-collapse -->
		        </div><!--/.container-fluid -->
	      	</nav>
	    </div> <!-- /container -->
		{% block body %}
		<h1>Base</h1>
		{% endblock %}
	</body>
</html>