{% extends 'base.html' %}
{% block head %}
<title>Profile</title>
{% endblock%}

{% block body %}
<div class="container">
	<h1>Profile</h1>
	<form method="post">
		{% csrf_token %}
		{{ form.as_p }}
		<button type="submit">Submit</button>
	</form>
</div>
{% endblock %}