{% extends 'base.html' %}
{% block head %}
<title>Profile</title>
{% endblock%}

{% block body %}
<div class="container">
	<h1>Profile</h1>
	<p>Ussername: {{ user }}</p>
	<p>First Name:{{ user.first_name }}</p>
	<p>Last Name: {{user.last_name}}</p>
	<p>Email: {{user.email}}</p>
	<img src="{{ user.userprofile.image.url }}" width="240">
</div>
{% endblock %}